/* Project CSS 
============================================================
============================================================*/


/* HEADER ============================== */

/* ABOUT ============================== */

/* COMPONENTS ============================== */
body {
	margin: 0;
	background: #111111;
    color:beige;
}

header img{
    margin-bottom: 10px;
}

header, section, footer {
	position: relative;
	box-sizing: border-box;
	width: 80%;
	max-width: 960px;
    margin:auto;
}
img {
    width: 100%;
    height: auto;
}
article {
    background: #333333;
    border: solid 2rem #333333;
   margin-bottom: 15px;
}
ul
{
    list-style-type: none;
}
.buttons a, .button {
	position: relative;
	display: block;
	text-transform: uppercase;
    width: 186px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
}
.buttons a { 
    background-color: #008CBA; 
}
.buttons a:hover { 
    background-color: #008CBA; 
}
