<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	
</head>
<body>

<!-- Component -->
<footer>
    <div id="container">
        <h2 id="copy">CONSTRUCT &#169;2016 &bull;&nbsp;</h2>
        <h2 id="policy"> PRIVACY POLICY</h2>
        <div id="socialmediaicons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-pinterest-p"></i>
            <i class="fa fa-google-plus"></i>
        </div>
    </div>
</footer>
<!-- End Component -->

</body>
</html>