<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Steven Mansberger</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
    <footer>
        <section id="social">
            <p>Construct &copy;2016 &bull;&nbsp<a href="#">Privacy Policy</a>
            <ul>
                <li><a href="#facebook"></a></li>
                <li><a href="#twitter"></a></li>
                <li><a href="#pinterest"></a></li>
                <li><a href="#google"></a></li>
            </ul>
        </section>
    </footer>
</body>
</html>