<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Fixed Header: Steven Mansberger</title>

	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
    <!-- Component -->
    <header>
        <img src="images/logo.png" alt="" width="309" height="81">
        <nav>
           <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#news">News</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </header>
<!-- End Component -->
</body>
</html>