<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Steven Mansberger</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
<!-- Component -->
    <form>
        <h2>Contact Form</h2>
        <ul>
            <li>
                <input placeholder="Name:" type="text" name="name" id="name">
            </li>
            <li>
                <input placeholder="Email:" type="text" name="Email" id="email">
            </li>
            <li>
                <input placeholder="Phone:" class="wrapped-input" id="phone" type="text">
            </li>
        </ul>
        <textarea placeholder="Message:" class="wrapped-input"></textarea>
        <button class="button" type="submit">Submit</button>
    </form>
<!-- End Component -->
</body>
</html>