<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <div id="container">
    <div>
        <h2>CONTACT FORM</h2>
    </div>

    <form>
        <div id="left">
            
            <input placeholder="Name:" type="text" name="name" id="name">
        </div>
        <div id="right">
            
            <input placeholder="Email:" type="text" name="Email" id="email">
        </div>
        <div id="center">
            
            <input placeholder="Phone:" class="wrapped-input" id="phone" type="text">
        </div>
        <div> 
            <textarea placeholder="Message:" class="wrapped-input" id="message"></textarea>
        </div>
        <div>
            <input id="submit" type="submit">
        </div>

    </form>
</div>
	<!-- End Component -->
	
</body>
</html>