<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Steven Mansberger</title>
	<link rel="stylesheet" href="flexslider.css" type="text/css" media="screen" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="jquery.flexslider-min.js"></script>
    <link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
	</script>
</head>
<body>
	<div id="container">
		<div class="flexslider">
            <ul class="slides">
                <li id="slide1">
                    <i class="fa fa-quote-left fa-3x"></i>
                    <img src="smile1.jpg" />
                    <p>SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS ERROR SIT LOREM VOLUPTATEM ACCUSANTIUM DOLOREMQUE LAUDANTIUM, TOTAM REM APERIAM, EAQUE IPSA QUAE AB ILLO INVENTORE</p> 
                    <p>-MARK JOHNSON</p>
                    <i class="fa fa-quote-right fa-3x"></i>
                </li>
                <li>
                    <i class="fa fa-quote-left fa-3x"></i>
                    <img src="smile2.jpg" />
                    <p>SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS ERROR SIT LOREM VOLUPTATEM ACCUSANTIUM DOLOREMQUE LAUDANTIUM, TOTAM REM APERIAM, EAQUE IPSA QUAE AB ILLO INVENTORE</p> 
                    <p>-MARY JANE</p>
                    <i class="fa fa-quote-right fa-3x"></i>
               </li>
                <li>
                    <i class="fa fa-quote-left fa-3x"></i>
                    <img src="smile3.jpg" />
                    <p>	 HE'S THE HERO GOTHAM DESERVES, BUT NOT THE ONE IT NEEDS RIGHT NOW. SO WE'LL HUNT HIM. BECAUSE HE CAN TAKE IT. BECAUSE HE'S NOT OUR HERO. HE'S A SILENT GUARDIAN, A WATCHFUL PROTECTOR. A DARK KNIGHT.</p> 
                    <p>-JIM GORDON</p>
                    <i class="fa fa-quote-right fa-3x"></i>
                </li>
            </ul>
        </div>
<div style="clear: both;"></div>
</div>
</body>
</html>