<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Steven Mansberger</title>
	<link rel="stylesheet" href="flexslider.css" type="text/css" media="screen" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="jquery.flexslider-min.js"></script>
    <link rel="stylesheet" type="text/css" href="component.css" />
	<script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
	</script>
</head>
<body>
	<section id="wrapper">
		<section class="flexslider">
            <ul class="slides">
                <li>
                    <img src="smile1.jpg" />
                    <p>SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS ERROR SIT LOREM VOLUPTATEM ACCUSANTIUM DOLOREMQUE LAUDANTIUM, TOTAM REM APERIAM, EAQUE IPSA QUAE AB ILLO INVENTORE</p> 
                    <p>-Mark Johnson</p>
                </li>
                <li>
                    <img src="smile2.jpg" />
                    <p>SED UT PERSPICIATIS UNDE OMNIS ISTE NATUS ERROR SIT LOREM VOLUPTATEM ACCUSANTIUM DOLOREMQUE LAUDANTIUM, TOTAM REM APERIAM, EAQUE IPSA QUAE AB ILLO INVENTORE</p> 
                    <p>-Mary Jane</p>
               </li>
                <li>
                    <img src="smile3.jpg" />
                    <p>HE'S THE HERO GOTHAM DESERVES, BUT NOT THE ONE IT NEEDS RIGHT NOW. SO WE'LL HUNT HIM. BECAUSE HE CAN TAKE IT. BECAUSE HE'S NOT OUR HERO. HE'S A SILENT GUARDIAN, A WATCHFUL PROTECTOR. A DARK KNIGHT.</p> 
                    <p>-Jim Gordon</p>
                </li>
            </ul>
        </section>
</section>
</body>
</html>