<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Features/About: Steven Mansberger</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
</head>
<body>

	
<div id="main"><!-- Component -->
     <div>
      <h2>WE BUILD THE NEW WORLD</h2>
     </div>
     <div id="intro">
      <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
     </div>
    
    <div id="quadsections">
        <div class="child">
            <div>
                <h3>NATURE</h3>
            </div>
             <div>
                 <i class="fa fa-pencil fa-4x"></i>
              
            </div>
             <div>
              <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dufusce feugiat.</p>
             </div>
             <a class="readmore" href="#"><p>READ MORE</p></a>
        </div>
        
        <div class="child">
         <div>
          <h3>PLANNING</h3>
         </div>
         <div>
          <i class="fa fa-plane fa-4x"></i>
    </div>
         <div>
          <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dufusce feugiat.</p>
         </div>
         <a class="readmore" href="#"><!-- content --><p>READ MORE</p></a>
 </div>
        
        <div class="child">
         <div>
          <h3>MODELING</h3>
         </div>
         <div>
          <i class="fa fa-laptop fa-4x"></i>
        </div>
         <div>
          <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dufusce feugiat.</p>
         </div>
         <a class="readmore" href="#"><!-- content --><p>READ MORE</p></a>
 </div>
        
        <div class="child">
             <div>
              <h3>DEVELOPMENT</h3>
             </div>
             <div>
              <i class="fa fa-code-fork fa-4x"></i>
            </div>
             <div>
              <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dufusce feugiat.</p>
             </div>
             <a class="readmore" href="#"><!-- content --><p>READ MORE</p></a>
           </div>  
            
            
        </div><!--End Quad Sections-->
</div><!-- End Component -->
 	
</body>
</html>