<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Features/About: Steven Mansberger</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css"/>
</head>
<body>
<!-- Component -->
    <section id="features">
        <h2>We build the new world</h2>
        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
        <ul>        
            <li class="nature">
                <h3>Nature</h3>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dufusce feugiat.</p>
                <a class="button" href="#"><p>Read more</p></a>
            </li>
                <li class="planning">
                <h3>Planning</h3>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dufusce feugiat.</p>
                <a class="button" href="#"><p>Read more</p></a>
            </li>
            <li class="modeling">
                <h3>Modeling</h3>
                  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dufusce feugiat.</p>
                <a class="button" href="#"><p>Read more</p></a>
            </li>
            <li class="development">
                <h3>Development</h3>
                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dufusce feugiat.</p>
                <a class="button" href="#"><p>Read more</p></a>
            </li>
        </ul>
    </section>
</body>
</html>