/* Component Stylesheet 
============================================================
============================================================*/

/* this would normally be contained within the body of the main HTML body and would not necessarily need to be constrained with its own css*/
#features {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #737373;
}
ul {
    list-style: none;
    overflow:visible;
}
li {
    float: left;
    max-width: 25%;
    min-width: 200px;
    padding: 5px;
}
h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    font-family: Helvetica Neue;
    text-transform: uppercase;
}
h3 {
    font-size: 2em;
    color: #3F3C4F;
    text-transform: uppercase;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.nature h3:after {
   content: "\f040";
}
.planning h3:after {
   content: "\f072";
}
.modeling h3:after {
   content: "\f109";
 }
.development h3:after {
    content: "\f126";
}
:after {
    font: 3rem FontAwesome;
    color: #42546B;
    display: block;
    border: 3px solid #76D898;
    border-radius: 50%;
    text-align: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding: 10px;
}
.button p {
    margin-top: 10px;
    border: 2px solid #76D898;
	background-color: transparent;
	color: #76D898;
	position: relative;
    width: 60%;
    padding: 5px 0 5px 0;
    margin: 10px auto 0 auto;
    text-transform:uppercase;
}
.button p:hover {
    border: 2px solid white;
    background-color: #76D898;
    color: white;
}